<% provide(:title, 'About') %>
<div class = "jumbotron text-center">
	<div class="containter">
		<h1>About Us</h1>
		<p>Built by two guys who wanted to get stuff done.</p>
		<p>And learn how to code along the way.</p>
		<p>This is an alpha build, there are lots of bugs. So help us along the way and <%= link_to 'contact us', contact_path %> if you find any!</p>
	</div>
</div>
