<% provide(:title, 'Contact') %>
<div class = "jumbotron text-center">
	<div class="containter">
		<h1>Contact Us</h1>
		<p>Send an <a href="mailto:ys@thecompany.sg?Subject=Hello%20I%20have%20feedback%20for%20SATDL" target="_top">
email to us</a></p>
		<p>We love to hear whatever you have to say.</p>
		<p>Really.</p>
	</div>
</div>