<script>

$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1500, 'easeInOutExpo');
        return false;
      }
    }
  });
});

</script>

<div id="header-div">
  <h1>Welcome.</h1>
  <h3>What is a Super Awesome To-Do list?</h3>
	<h3>A list that helps you get stuff done.</h3>
	<h3>And help others get stuff done too.</h3>
	<%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-large btn-primary" %>
	<a href="#video1" class = "btn btn-large btn-primary">Find Out More</a>
</div>

<a id="video1"></a>
<div class="mainpage">
  <h1>Get your life sorted</h1>
  <h3>Start a todo list</h3>
  <h3>Check items off your list</h3>
  <a href="#video2" class = "btn btn-large btn-primary">Learn About Friends</a>
</div>
<div class="content-div">
  <%= video_tag "mainpage1.mp4", :controls => true, class: "video", loop: true, autoplay: true %>
</div>

<a id="video2"></a>
<div class="mainpage">
  <h1>Find your friends, follow them</h1>
  <h3>See what they are doing</h3>
  <h3>Tell them how great they are doing</h3>
  <%= link_to "Let's Get Started", new_user_registration_path, class: "btn btn-large btn-primary" %>
  <a href="#header-div" class = "btn btn-large btn-primary">Back to Top</a>
</div>
<div class="content-div">
  <%= video_tag "friendpage1.mp4", :controls => true, class: "video", loop: true, autoplay: true %>
</div>

