<div class = "jumbotron text-center">
	<div class="containter">
		<h1>Welcome.</h1>
		<p>What is a Super Awesome To-Do list?</p>
		<p>A list that helps you get stuff done.</p>
		<p>And help others get stuff done too.</p>
		<%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-large btn-primary" %>
	</div>
</div>
