<div class = "jumbotron text-center">

	<h1>Home Page</h1>
	<p class = "pHY">This is how we build super awesome to-do list 3.</p>
	<p class = "pHY">>One line of code at a time. Steady does it.</p>

</div>
