<% provide(:title, @group.title) %>
<div class = "row">

	<div class = "col-sm-1"></div>

	<div class = "col-sm-2">
		<div>
			<%= render 'shared/group_info' %>
			
		</div>
		<div>
			<h2>Group Members</h2>
			<ul>
			<% @users.each do |u| %>
				<li><%= "#{u.username}" %></li>	
			<% end %>
			</ul>
		</div>
	</div>
	
	<div class = "col-sm-6">

		
		

	</div>
	
	<div class = "col-sm-3">

		<h2>Activity Feed</h2>

		<%= render 'shared/activity_feed' %>

	</div>


</div>