<% provide(:title, 'All Users') %>
<div class = "row">

	<div class = "col-sm-1"></div>

	<div class = "col-sm-2">

		<%= render 'shared/user_info' %>

	</div>
	
	<div class = "col-sm-6">

		<h1>User list</h1>
		<ul class="users">
			<% @users.each do |u| %>
				<li><%= link_to "#{u.username}", user_path(u.id) %></li>
			<% end %>
		</ul>

	</div>
	
	<div class = "col-sm-3">

		<h2>Activity Feed</h2>
		<%= render 'shared/activity_feed' %>

	</div>


</div>
