<% provide(:title, @title) %>
<div class="container">
	<div>
		<h1><%= current_user.username %></h1>
		<p><%= @title %></p>
	</div>

	<div class ="container">
		<% if @users.any? %>
			<% @users.each do |user| %>
				<div class="follow-users">
					<h2><%= link_to "#{user.username}", user_path(user.id) %></h2>
				</div>
			<% end %>
		<% end %>
	</div>
</div>