@import "bootstrap";

/* activity feed */
.activity {
  border-bottom: solid 1px #CCC;
  padding: 16px 0;
}

/* mixins, variables, etc. hungyi and yongsheng were here */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #fff;
  }

.pHY {
	line-height: 1.5px;
}

.btn {
  display: inline-block;
  padding: 4px 8px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 0px solid transparent;
  border-radius: 2px;
}

.btn-primary {
	color: #fff;
	background: #bbb;
	margin: 3px;
}

.btn-danger {
	color: #fff;
	background: #ccc;
	margin: 3px;
}

.form-control {
	width: 100%;
}

#hy {
	width: 100%;
}

#hy2 {
	width: 100%;
}