@import "bootstrap";

/* activity feed */
.activity {
  border-bottom: solid 1px #CCC;
  padding: 16px 0;
}

/* Followers/Following index */
.follow-users {
  overflow: auto;
  border-top: 1px solid #CCC;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #CCC;
    &:last-child {
      border-bottom: 1px solid #CCC;
    }
  }
}

/* header */

header {
  sup {
    color: #800000;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  small {
    float: left;
    padding-left: 40px;
  }
  ul {
    float: right;
    list-style: none;
    padding-right: 40px;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* mixins, variables, etc. hungyi and yongsheng were here */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #fff;
  }

.pHY {
	line-height: 1.5px;
}

.btn {
  display: inline-block;
  padding: 4px 8px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 0px solid transparent;
  border-radius: 2px;
}

.btn-primary {
	color: #fff;
	background: #bbb;
	margin: 3px;
}

.btn-danger {
	color: #fff;
	background: #ccc;
	margin: 3px;
}

.form-control {
	width: 100%;
}

#hy {
	width: 100%;
}

#hy2 {
	width: 100%;
}

/* code to get width to work in Windows Phone 8 */
@-webkit-viewport    {width:device-width}
@-moz-viewport       {width:device-width}
@-ms-viewport        {width:device-width}
@-o-viewport         {width:device-width}
@viewport            {width:device-width}