<footer class="footer">
	<small>
		The Super Awesome To-Do List by <a href="http://www.thecompany.sg">The Company</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to 'About', about_path %></li>
			<li><%= link_to 'Contact', contact_path %></li>
			<li><a href="http://www.thecompany.sg/05-super-awesome-to-do-list/" target="_blank">Blog</a></li>
		</ul>
	</nav>

</footer>

<script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>